*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0 2rem 2rem 2rem;
    font-family: 'DM Sans', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 1rem 1rem;
    border: solid 0.063rem #f1f1f1;
    height: fit-content;
    align-items: center;
    border-radius: 99rem;
}

.logo_{
    width: 3rem;
    height: auto;
}

ul{
    display: flex;
    gap: 2rem;
    margin: 0;
}

li{
    text-transform: uppercase;
    list-style: none;
}

.container {
  display: flex;
  width: 100%;
  gap: 5rem;
  align-items: center;
}

.left{
    width: 40%;
}

.left img{
    width: 100%;
    height: auto;
    border-radius: 0 99rem 0 99rem  ;
}

.left h2{
    font-size: 1rem;
    font-weight: 300;
}

.right{
    width: 60%;
}

.right p{
    font-family: 'DM Sans', sans-serif;
    font-size: 3rem;
    font-weight: 200;
    width: 100%;
    color: rgb(38, 38, 38);
    font-style: italic;
    line-height: 1.4;
    max-width: 100%;
}

.menu_bar{
    display: none;
}

@media(max-width: 768px){

    body{
        padding: 0 1rem 1rem 1rem;
    }
    .container {
        flex-direction: column;
        gap: 2rem;
    }

    .left, .right{
        width: 100%;
    }

    .right p{
        font-size:1.6rem
    }

    .left img{
        width: 100%;
        height: auto;
        border-radius: 0 99rem 0 99rem  ;
    }

    .nav_link{
        display: none;
    }

    .menu_bar{
        display: block;
    }


    

}